body {
    background-image: url("background.jpg");
  }
#canvas { 
    border: 5px solid #030303;
    cursor: url('brush_cursor.png'), default;
    border-radius: 15px;
    position: absolute;
    top:100px;
    left:50px;
}
#colorTable{
    width:50%; 
    height:80px;
    border: 3px solid #030303;
    position: absolute;
    top:600px;
}
#brush{
    position: absolute;
    left:900px;
    top: 100px;
}
#eraser{
    position: absolute;
    left:1000px;
    top: 100px;
}
#text{
    position: absolute;
    left:1100px;
    top: 100px;
}
#rectangle{
    position: absolute;
    left:900px;
    top: 200px;
}
#triangle{
    position: absolute;
    left:1000px;
    top: 200px;
}
#circle{
    position: absolute;
    left:1100px;
    top: 200px;
}
#solid{
    position: absolute;
    left:900px;
    top: 300px;
}
#fillup{
    position: absolute;
    left:1000px;
    top: 300px;
}
#undo{
    position: absolute;
    left:900px;
    top: 400px;
}
#redo{
    position: absolute;
    left:1000px;
    top: 400px;
}
#reset{
    position: absolute;
    left:1100px;
    top: 400px;
}
#download{
    position: absolute;
    left:900px;
    top: 480px;
}
#imageLoader{
    position: absolute;
    left:1000px;
    top: 500px;
}
.fonts{
    position: absolute;
    left:900px;
    top: 600px;
}
#slider{
    position: absolute;
    left:900px;
    top: 550px;
    background: 'white';
}
